

//Page color 
$bodyBackground: hsl(180, 20%, 60%);



//button modifications
$buttonBackground: hsl(240, 20%, 55%);
$buttonText: hsl(240, 20%, 95%);

//Color Palett Neon
/*
$bodyBackground: #222831;
$buttonBackground: #FFD369;
$textColor: #EEEEEE;
$navBar: #393E46;
*/

//Color Palett Cool


//$bodyBackground: #142850;
$buttonBackground:  #00909E;
$textColor: #DAE1E7;
$navBar: #27496D;

