* {
    margin: 0rem;
    padding: 0rem;
}
body {
    background-color: rgb(255, 249, 249);
    margin-left:2rem;
    margin-right:2rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
}


ul li {
    list-style: none;
    float: left;
}


li,button{
    padding: 0px 5px;
    border-radius: 50px;
    
}

button{
    color:$buttonText;
    background-color: $buttonBackground;
    border:5px;
    border-radius: 50px;
    padding:5px;
    
    
}

button:hover{
    cursor: pointer;
    color:$buttonBackground;
    background-color: $buttonText;
    transition: 0.7s;
    
}


// Main body formatting 

.main-text{
    text-align: center;
    padding: 2rem;
}
.main-text h2{
    text-align: center;
}
.main-text p{
    text-align: center;    
    margin: 2rem;
}

.main-text-container {
    justify-content: center;
    margin-right: 4rem;
    margin-left: 4rem;
    padding: 2rem;
}

// Projects grid

.projects-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
    
}