// Main body default formatting

* {
    margin: 0rem;
    padding: 0rem;
}
body {
    background-color: $bodyBackground;
    margin-left:0rem;
    margin-right:0rem;
}

header, footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $navBar;
    
}

header p , footer p{
    font-size: 1.5rem;
    color:$textColor;
    font-family: 'Courier New', Courier, monospace;
}


ul li {

    list-style: none;
    float: left;
}

a {
    text-decoration: none;
    color: $buttonText;
    background-color: $buttonBackground;
    border:5px;
    border-radius: 20px;
    padding:5px;
    
    
}
a:hover{
    cursor: pointer;
    color:$bodyBackground;
    background-color: $textColor;
    transition: 0.7s;
    border:inherit;
    border-radius: inherit;
    padding:inherit;
}


li,button{
    
    padding: 0px 0px;
    border-radius: 50px;
    
}

button{
    color:$buttonText;
    background-color: $buttonBackground;
    border:0px;
    border-radius: 25px;
    padding:5px;
    margin: 5px;
    
    
}

button:hover{
    cursor: pointer;
    color:$bodyBackground;
    background-color: $textColor;
    transition: 0.7s;
    
}

// Navigation bar formatting

.logo-text{
    color: $navTextColor;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}


// Main body formatting 

.main-text{
    color: $textColor;
    text-align: center;
    padding: 2rem;
}
.main-text h2{
    text-align: center;
}
.main-text p{
    text-align: center;    
    margin: 2rem;
}

.main-text-container {
    justify-content: center;
    margin-right: 4rem;
    margin-left: 4rem;
    padding: 2rem;
}





// Projects grid
.projects-container{
    border: 1px dotted rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
.projects-grid{
    color: $textColor;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    border: 1px dotted blue;
}

.projects-grid p {
    border: 1px dotted red;
}